/* adding variables  */
:root {
    --main: #eeeeee;
    --dark: #393e46;
    --blue: #6993f5;
    --font: 'JetBrains Mono';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main);
    margin: 0;
    font-family: 'JetBrains Mono';
}

h1 {
    font-weight: 700;
    font-size: 38px;
}

p {
    font-weight: 600;

}

/* Header Styling */
header {
    background-color: var(--dark);
    color: var(--blue);
    font-size: 20px;
    max-width: 940px;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    margin-top: 20px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-right: 20px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    color: var(--main);
    text-decoration: none;
    cursor: pointer;
}

/* About Section */
.about-section {
    margin-top: auto;
    margin-bottom: auto;
}

.about-container {
    margin: auto;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-title {
    text-align: center;
}

.about-para {
    margin-top: 20px;
}

.about-buttons {
    margin-top: 20px;
}

.btn {
    background-color: var(--blue);
    color: var(--dark);
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: var(--font);
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


