/* adding variables  */
:root {
    --main: #eeeeee;
    --dark: #393e46;
    --blue: #6993f5;
    --font: 'JetBrains Mono';
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main);
    font-family: 'JetBrains Mono';
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight: 700;
}

p {
    font-weight: 300;

}

/* Header Styling */
header {
    background-color: var(--dark);
    color: var(--blue);
    font-size: 20px;
    max-width: 940px;
    width: 100%;
    margin: 0 auto auto auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    margin-top: 20px;
}

.menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin-right: 20px;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover, a:active {
    color: var(--main);
    text-decoration: none;
    cursor: pointer;
}

/* About Section */
.about-section {
    margin: auto;
    width: 100%;
    display: flex;
}

.about-container {
    margin: auto;
    max-width: 940px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.about-title {
    text-align: center;
}

.about-h1 {
    font-size: 3rem;
}

.about-para {
    margin: 20px auto auto auto;
    width: 60%;
    line-height: 22px;
    font-weight: 560;
}

.about-buttons {
    margin-top: 20px;
}

.btn {
    background-color: var(--blue);
    color: var(--dark);
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-family: var(--font);
    font-weight: 600;
    transition: all .2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

/* Podcast Section */
.podcast-section {
    background-color: var(--dark);
    margin: auto;
    height: auto;
    width: 100%;
}

.podcast-container {
    margin: auto;
    padding: 20px 0px 20px 0px;
    max-width: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.podcast-info {
    color: var(--blue);
    width: 50%;
    padding-right: 40px;
    
}

.podcast-para {
    color: var(--main);
    padding-top: 10px;
}

.btn4 {
    margin-top: 10px;
}

.cmm-img {
    border-radius: 5px;
}

/* Footer */
footer {
    margin: auto 0px 0px 0px;
    background-color: var(--dark);
    border-top: 2px solid var(--blue);
    width: 100%;
}

.footer-container {
    padding: 10px 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--blue);
}

.footer-icons {
    display: flex;
    align-items: center;
}

.icons {
    margin-right: 10px;
}

.image-15 {
    padding-top: 8px;
}


/* Blog Page */
.blog-section {
    margin: auto;
}

.blog-container {
    margin: auto;
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: center;
}

.blog-item {
    background-color: var(--dark);
    margin: auto;
    height: 100%;
    width: 50%;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid var(--blue);
    box-shadow: 1px 1px 10px black;
}

.blog-h1 {
    color: var(--blue);
    font-size: 28px;
}

.blog-para, .blog-date {
    color: var(--main);
    margin-top: 3px;
}

.btn5, .btn6 {
    margin-top: 10px;
}

/* projects section */
.projects-section {
    margin: auto 0px auto 0px;
    text-align: center;
}

.projects-container {
    margin: auto;
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.projects-item {
    background-color: var(--dark);
    height: auto;
    width: auto;
    padding: 30px;
    border-radius: 8px;
    border: 2px solid var(--blue);
    box-shadow: 1px 1px 10px black;
}

.projects-h1 {
    font-size: 28px;
    color: var(--blue);
}

.projects-p {
    color: var(--main);
    margin: 10px 0px 10px 0px;
}

/* form section */
.form-section {
    margin: auto;
}

.form-container {
    margin: auto;
    width: 60%;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--dark);
    border: 2px solid var(--blue);
    border-radius: 25px; 
    justify-content: center;
    align-items: center;
}

.form-info {
    display: flex;
    flex-direction: column;
}

.form-h1 {
    color: var(--blue);
    text-align: center;
    font-size: 34px;
}

.form-para {
    color: var(--main);
    margin: 20px 0px 20px 0px;
    text-align: center;
}

/* form styling */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field-label {
    color: var(--blue);
    font-size: 24px;
    margin: 20px 0px 0px 0px;
}

.w-input {
    margin-top: 8px;
    width: 20em;
    background-color: var(--main);
    color: var(--dark);
    padding: 10px;
    border-radius: 20px;
    border:none;
}

.message {
    height: 5em;
}

.btn7 {
    margin-top: 20px;
    width: 50%;
}

/*blog content*/
.blog-content-section {
    margin: auto;
}

.blog-content-container {
    display: flex;
    max-width: 940px;
    padding: 25px;
}

.blog-content-h1 {
    margin-bottom: 10px;
    color: var(--blue);
}

.blog-content-para {
    line-height: 27px;
    font-weight: 500;
}

/* Media Queries */
@media screen and (max-width: 800px) {
    body {
        height: auto;
    }
    
    .about-section {
        margin: 20px auto 20px auto;
    }
    
    .podcast-container {
        flex-direction: column;
        text-align: center;
    }

    .podcast-info {
        padding: 0;
    }

    .cmm-img {
        margin-top: 20px;
    }

    .projects-section {
        margin: 20px auto auto auto;
    }

    .projects-container {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .blog {
        margin: 20px auto auto auto;
    }

    .blog-container {
        padding: 20px;
        grid-template-columns: 1fr;
    }

    .blog-item {
        width: 100%;
    }

    .form-section {
        padding: 20px;
    }

    .form-container {
        width: 100%;
    }
}